# Rename this file:  cp terraform.tfvars.example terraform.tfvars
# Then fill in your values and run: terraform apply

aws_region     = "ap-south-1"
aws_access_key = "AKIAZI2LH3ICTDVCYK5O"
aws_secret_key = "ZXahoSZC5/S7rfik81xaZCKSgWCo6YTg4eNIV8Pg"
key_name       = "user1.pem"

instance_type_worker = "t3.small"

# After you run kubeadm init on your master:
#   kubeadm token create --print-join-command
# Paste the values from that output below:
master_private_ip = "172.31.39.71 "
cluster_token     = "1nk7cn.av1j3uwy5b6ab9d4"
cluster_ca_hash   = "sha256:0e6eca7927a72228282039f560e9e40b5d2476d208c0a0648bec8fec3bff5bbe"

# DockerHub
dockerhub_username = "yourdockerhubusername"
dockerhub_password = "yourdockerhubpassword"
